.FORM{
    background-color: black;
    height:100px;
    justify-content: center; 
    font-size: calc(12px + 2vmin);
    color: white;
    display: flex;
    margin: 15px;
    width: 100%;
    flex-direction: row;
    align-items: center;
}
input{
    width:270px ;
}

.OX{
    display: flex;
    flex-direction: row;
    margin: 20px;

}