
  .flex{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 250px;
    width: 400px;
    justify-content: space-between;
  }

  .ajustement{
    height: 250px;
    justify-content: space-around;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  .main{
    flex-direction: column;
    display: flex;
  }

.bt{
  display: inline-block;
    background-color: #2c96d4; 
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
}
input[type=text] {
    color: rgb(0, 0, 0);
    border-bottom: 2px solid #2c96d4;
    font-size: medium;
    border: none;
    background-color: transparent;
  }

  .ajustement_text{
    align-items: flex-start;
    margin: 12px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    display: flex;

  }
  .flex_2{
    align-items: flex-start;
    display: flex;
    flex-direction: row;

  }
