<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>doss</title>
</head>
<body>
    <h1>Welcome to the great Number </h1>
    <h3>im thinking of number between 1 and 100</h3>
    <form action="/greet" method="post">
        <div class="TRY">
            <p>Take a guess</p>
            <input type="text" name="guess" id="guess">
            
            <button type="submit">Guess</button>
            
        </div>
    </form>
</body>
</html>