<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tress</title>
</head>
<body>
    <h1>Welcome to the great Number </h1>
    <h3>im thinking of number between 1 and 100</h3>
    <form action="/" methods="post">
        <div class="TRY">
            <div style="width: 100px;height: 100px;background-color: rgb(21, 190, 9);">
                that the number good guess {{ran}}
            </div>
            <button type="submit">back</button>
            
        </div>
    </form>
</body>
</html>