.container {
    border: 1px solid black;
    width: 60%;

}

.top {
    display: flex;
    justify-content: space-around;
    
}

p {
    padding-left: 20px;
}
.yellow{
    color: rgb(0, 0, 0);
    background-color: yellowgreen;
}