
.main {
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 220px;
  width: 360px;
  justify-content: space-between;
}
input[type=text] {
  background-color: transparent;
  color: rgb(174, 190, 190);
  font-size: medium;
  border-bottom: 2px solid #f86f34;
}

.bt {
  background-color: #234d88;
  border: none;
  color: white;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
.K1 {
  margin: 15px;
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.k2 {
  flex-direction: column;
  height: 220px;
  justify-content: space-around;
  display: flex;
  align-items: flex-start;

}
.la {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}
