<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dojos and Ninjas</title>
</head>
<body>
    <div class="d-flex flex-wrap justify-content-around">
        <form action="/create/dojo" method="post" class="col-6 p-3">
            <h2 class="text-center">New Dojo</h2>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" class="form-control">
            </div>
            <input type="submit" value="Add Dojo" class="btn btn-primary">
        </form>
        <div class="col-6">
            <div class="TheBcard">
                <h2 class="TXT">All Dojos</h2>
                {% for one_dojo in allDojos %}
                    <p class="TXTcard"><a href="/dojo/{{one_dojo.id}}">{{one_dojo.name}}</a></p>
                {% endfor %}
            </div>
        </div>
        <div>
            {% if one_ninja not in all_ninja %}
            <a href="{{ url_for('ninjas') }}">Go to Ninja List</a>
            {% endif %}
        </div>
    </div>
</body>
</html>