<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
</head>
<body>
    <h1 style="text-align: center;">ADD a New  USER</h1>
    <form action="/user/new" method="post" style="display: flex;flex-direction: column;">
        <label for="first_name">First_Name
            <input type="text" placeholder="first_name" name="first_name">
        </label>
        <label for="last_name">last_name
            <input type="text" placeholder="last_name" name="last_name">
        </label>
        <label for="Email">Email
            <input type="email" placeholder="Email" name="email">
        </label>
        <button type="submit" style="width: 50px; height: 20px;">create</button>
    </form>
    <a href="/">Home</a>
</body>
</html>