.navbar {
    background-color: rgb(151, 207, 251);
    color: white;
    display: flex;
    align-items: center;
    font-family: cursive;
    justify-content: space-between;
}

.navbar h1 {
    padding: 0 130px;
}

.citys {
    color: rgb(255, 255, 255);
}

.navbar a {
    padding-right: 90px;
    font-size: larger;
}

.josebar {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    font-family: cursive;
    justify-content: space-between;
}

.josebar h1 {
    padding: 0 100px;
}

.josebar h4 {
    padding-left: 800px;
}

.temp {
    margin-right: 100px;
}

.dates {
    background-color: rgb(209, 209, 209);
    font-family: cursive;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: none;
    width: 20%;
    border-radius: 10%;
}

.pics {
    justify-content: space-between;
    display: flex;
}

.some {
    display: flex;
    font-family: cursive;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}

.degree_1 {
    color: red;
    font-weight: bold;
}

.degree_2 {
    color: blue;
    font-weight: bold;
}

hr {
    font-weight: bold;
    border: 2px solid black;
}

.butt2 {
    height: 25px;
    width: 100px;
    background-color: rgb(22, 137, 191);
    margin-bottom: 50px;
}

.big {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
}

.box {
    display: flex;
    border: 3px solid black;
    width: 750px;
    margin: 30px;
    padding: 25px 50px;
}

.butt2 {
    margin-left: 60px;
    padding: 5px;

}

.rain {
    border-radius: 50%;
}

.allcont {
    margin: 0 auto;
    padding: 0;
}
